<mat-accordion>
  <div class="filter">
    <input type="number" placeholder="minId" min="0" #minimumId>
    <input type="number" placeholder="maxId" min="0" #maximumId>

  </div>
  <mat-paginator [length]="studentObj.length"
                 [pageSize]="itemsPerPage"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="setSettingsPage($event)">
  </mat-paginator>

  <mat-expansion-panel *ngFor="let form of studentObj
  | filterStudentById: minimumId.value : maximumId.value
 | paginate: {itemsPerPage: itemsPerPage ,  currentPage: currentPage}"  class="color-papayawhip">

    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>
      <strong>{{form.student.studentId}}</strong>
          {{form.student.lastName}}
          {{form.student.firstName}}
          {{form.student.years}}
    </span>
      </mat-panel-title>
      <mat-panel-description>
        Currently I am
      </mat-panel-description>
    </mat-expansion-panel-header>


    <div *ngFor="let subjectB of form.student.subjectBinderAll">
       <span>
      <strong>{{subjectB.subject.subjectName}}</strong>
        <a *ngFor="let marks of subjectB.marksList">
          {{marks.marks}}
        </a>
    </span>
    </div>


    <mat-expansion-panel class="color-white">
      <mat-expansion-panel-header>
        <mat-panel-title>
          update Student
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-group" [formGroup]="form.putStudent.myForm">

        <input type="text" placeholder="lastName"
               class="form-control" formControlName="lastName" name="lastName">

        <div class="alert alert-danger"
             *ngIf="form.putStudent.myForm.controls['lastName'].invalid && form.putStudent.myForm.controls['lastName'].touched">
          неправильно
        </div>
        <input type="text" placeholder="firstName"
               class="form-control" formControlName="firstName" name="firstName">
        <div class="alert alert-danger"
             *ngIf="form.putStudent.myForm.controls['firstName'].invalid && form.putStudent.myForm.controls['firstName'].touched">
          Не указано имя
        </div>
        <input type="number" placeholder="years"
               class="form-control" formControlName="years" name="years">
        <div class="alert alert-danger"
             *ngIf="form.putStudent.myForm.controls['years'].invalid && form.putStudent.myForm.controls['years'].touched">
          неправильное значение
        </div>
      </div>
      <mat-action-row>
        <button class="btn btn-warning" [disabled]="form.putStudent.myForm.invalid"
                (click)="updateStudent(form.student.studentId)">Update
        </button>
      </mat-action-row>
    </mat-expansion-panel>


    <mat-expansion-panel class="color-white">
      <mat-expansion-panel-header>
        <mat-panel-title>
          save Marks
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="form.formGroup" >
        <form-field appearance="fill">
          <label>Subject </label>
          <select #name>
            <option *ngFor="let nameSb of nameSubject" value="{{nameSb}}">{{nameSb}}</option>
          </select>
        </form-field>

        <input type="number" placeholder="numberMarks" min="1" value="1" #box
               class="form-control" (change)="form.updateArraysMarks(box.value)" name="numberMarks">
        <br>
        <div *ngFor="let marks of form.formGroup.controls['marks']['controls'] , let ind = index" formArrayName="marks">

          <input type="number" placeholder="marks № {{ind}}" min="0" max="5"
             class="form-control" formControlName="{{ind}}"  >
          <div class="alert alert-danger"
               *ngIf="marks.invalid">
            неправильное значение
          </div>
        </div>

      </form>
      <mat-action-row>
        <button class="btn btn-warning" [disabled]="form.formGroup.invalid"
                (click)="saveMarks(form.student.studentId , name.value)">save marks
        </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-action-row>
      <button class="btn btn-warning" (click)="deleteStudent(form.student.studentId)">delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>








